
#display {
background: url("https://images.pexels.com/photos/944743/pexels-photo-944743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  font-family: 'Mali', cursive;
  align-content: center;
  margin-top: 5px;
  padding: 5px;
};

#jumbotron {

  border: 10px solid red;
}

.top {

  color: black;
  font-family: 'K2D', cursive;
  padding: 5px;
}