@import url('https://fonts.googleapis.com/css?family=Abel|Bowlby+One+SC');
body {
  padding: 15px;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

h1 {
  font-size: 80px;
  font-family: 'Bowlby One SC', cursive;
  color: black;
}
h2 {
  font-size: 50px;
  font-family: 'Bowlby One SC', cursive;
}

p, ul {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Abel', cursive;
}

.spacer {
  height: 50px;
}
.heading {
  font-size: 100px;
  display: flex;
  text-align: center;
  font-weight: 900;
  padding: 10px;
}


#rules {
padding: 10px;
text-align: left;
}

#stats {
  text-align: left;
}

